<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007558753511-b13p95vn8bas1r7r3emg6dlcq3h325ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007558753511-b13p95vn8bas1r7r3emg6dlcq3h325ug</string>
	<key>API_KEY</key>
	<string>AIzaSyBup4hl2xhOlZeD860wRESTF3QyrdY8V-E</string>
	<key>GCM_SENDER_ID</key>
	<string>1007558753511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appPhotoma</string>
	<key>PROJECT_ID</key>
	<string>photoma-f5215</string>
	<key>STORAGE_BUCKET</key>
	<string>photoma-f5215.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007558753511:ios:5cb8c409757139e2093642</string>
</dict>
</plist>